.a{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px;
  margin-bottom: 0px;
}
input{
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(240, 240, 240);
  border: none;
  font-size: 18px;
  margin-bottom: 10px;
 width: 400px;
}
.b{
  margin-top: 25px;
}
.c{
  margin-bottom: 30px;
}
.d{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  font-size: 16px;
  margin-right: 20px;
}
.e{
  background-color: rgb(240, 240, 240);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: none;
  font-size: 16px;
}