.a{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(100, 100, 100);
  margin-bottom: 0px;
}
.b{
  margin-top: 5px;
  border-width: 2px;
  border-style: solid;
  width: 380px;
  height: 20px;
  border-radius: 4px;
  font-size: 16px;
  border-color: rgb(100, 100, 100);
}
.c{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(100, 100, 100);
}
.d{
  background-color: rgb(27, 102, 201);
  width: 380px;
  height: 30px;
  border-radius: 20px;
  color: white;
  border: none;
}
